.b-sidebar {
	.b-widget {
		margin-bottom: 15px;

		.b-widget__title {
			
		}

		.textwidget {
			padding: 25px 35px;
			background-color: #ec9d13;
			color: #fff;
			border-radius: 5px;
			line-height: 1.47;

			p {
				margin: 0;
			}

		}

	}
}