<div id="carousel-news" class="carousel carousel-fade slide" data-ride="carousel" data-interval="false">
	<div class="container">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="slide-wrap d-sm-flex justify-content-center">
					<div class="slide-image col-sm-6 col-md-8 order-sm-2" style="background-image: url(img/slide1.jpg);">
					</div>
					<div class="slide-info d-flex flex-column align-items-end col-sm-6 col-md-4 order-sm-1">
						<div class="slide-title h-100">
							<a href="/"><h4>Туристический сервис рассказал об особенностях отдыха российских мужчин</h4></a>
						</div>
						<div class="slide-meta d-sm-flex flex-sm-column w-100">
							<span class="date">21 сентября, 2020</span>
							<span class="category"><a href="/">Новости</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="slide-wrap d-sm-flex justify-content-center">
					<div class="slide-image col-sm-6 col-md-8 order-sm-2" style="background-image: url(img/slide2.jpg);">
					</div>
					<div class="slide-info d-flex flex-column align-items-end col-sm-6 col-md-4 order-sm-1">
						<div class="slide-title h-100">
							<a href="/"><h4>Впечатления девушки, путешествующей по Сирии автостопом</h4></a>
						</div>
						<div class="slide-meta d-sm-flex flex-sm-column w-100">
							<span class="date">3 августа, 2016</span>
							<span class="category"><a href="/">Статья</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="slide-wrap d-sm-flex justify-content-center">
					<div class="slide-image col-sm-6 col-md-8 order-sm-2" style="background-image: url(img/slide3.jpg);">
					</div>
					<div class="slide-info d-flex flex-column align-items-end col-sm-6 col-md-4 order-sm-1">
						<div class="slide-title h-100">
							<a href="/"><h4>В Мьянме запретят забираться на древние памятники из-за некультурных туристов</h4></a>
						</div>
						<div class="slide-meta d-sm-flex flex-sm-column w-100">
							<span class="date">19 декабря, 2016</span>
							<span class="category"><a href="/">Спорт</a></span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="carousel-controls">
				<a class="carousel-prev" href="#carousel-news" role="button" data-slide="prev">
					<span aria-hidden="true"></span>
				</a>
				<a class="carousel-next" href="#carousel-news" role="button" data-slide="next">
					<span aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="carousel-bg"></div>
</div>
<!-- end carousel -->