<!DOCTYPE html>
<html>
<head lang="ru">
	<meta charset="UTF-8">
	<title>Test Project</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic-ext" rel="stylesheet">
	<!-- Styles -->
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<header id="header">
	<div class="header-top container d-sm-flex flex-wrap justify-content-sm-between h-100 align-items-center">
		<div class="b-logo py-1 my-sm-auto text-center">
			<a href="/" title="Test Site"><img src="img/logo.png" alt="Logotype"></a>
		</div>
		<div class="b-phone py-1 my-sm-auto text-center">
			<a href="tel:+3806898990" >+380 689 89 90</a>
		</div>
	</div>
	<!-- end header-top -->
	<nav class="b-navigation navbar navbar-expand-lg navbar-light">
		<div class="container px-3 px-lg-2">
			<a class="navbar-brand d-lg-none" href="#">Навигация</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topnav" aria-controls="topnav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="topnav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item current-menu-item"><a class="nav-link" href="/">Главная</a></li>
					<li class="nav-item"><a class="nav-link" href="/">О нас</a></li>
					<li class="nav-item"><a class="nav-link" href="/">Услуги</a></li>
					<li class="nav-item"><a class="nav-link" href="/">Портфолио</a></li>
					<li class="nav-item"><a class="nav-link" href="/">Контакты</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2 px-4 py-0" type="search" placeholder="Поиск" aria-label="Поиск">
				</form>
			</div>
		</div>
	</nav>
</header>
<!-- end header -->